.App {
  text-align: center;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sbs {
  display: inline-block;
}

.editor {
  width: 70%;
  border: white 1px solid;
  resize: both;
}

.text-box {
  height: 30vh;
  width: 94%;
  margin: 3%;
  outline: none;
  text-align: left;
  overflow-y: scroll;
}

.text-box::-webkit-scrollbar {
  display: none;
}

.text-box-editor {
  margin: 0%;
  background-color: white;
  text-align: center;
  color: #282c34;
}

.dropdown {
  height: 100%;
}

.dropdown-cont {
  display: none;
  position: absolute;
  background-color: white;
  margin: 0% 0%;
}

.dropdown:hover .dropdown-cont {
  display: block;
  width: 121px;
  height: fit-content;
}

.dropdown-cont::webkit-scrollbar {
  display: none;
}

button, .button {
  display: inline-block;
  outline: none;
  border: none;
  background-color: white;
  width: 27px;
  padding: 5px;
  margin: 0.6% 0.6% 1.5% 0.6%;
  font-size: 16px;
  border-radius: 50%;
}

input[type="color"] {
  border-radius: 50%;
}

button:hover, .button:hover {
  background-color: rgb(0 0 0 / 9%);
}

.wid-fit {
  width: 50%;
  fon-size: 12px;
  text-align: center;
}

.marg0 {
  margin: 0%;
}